body {
	margin: 0;
	min-width: 320px;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14pt;
	line-height: 21pt;
	color: #78496a;
	-webkit-text-size-adjust: 100%;
	background-color: #c0c0c0;
}
.hidden {
	display: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    }

.clearfix {
   *display: inline-block;
   _height: 1%;
}
.container {
	width: 620px;
	margin: 150px auto 0;
}
.intro {
	margin-top: -100px;
}
a {
	color: #78496a;
}
a:hover {
	text-decoration: none;
}
/* footer */
#footer {
	margin-top: 35px;
	padding: 14px 0 50px 0;
}
/* copyright */
.copyright {
	line-height: 20px;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}
.copyright p {margin: 0 0 20px;}


@media (max-width: 620px) {
	.container {
		width: 96%;
		margin: 50px 2%;
		font-size: 12pt;
		line-height: 21pt;
	}
	.intro {
		margin-top: -20%;
	}
	.image img {
		width: 100%;
	}
}